version: "3.9"

services:
  seregela-dashboard:
    build: .
    
    # Map host's HOST_PORT to container's CONTAINER_PORT using .env
    ports:
      - "${HOST_PORT}:${CONTAINER_PORT}"

    # Use the .env file to pass environment vars into container
    env_file:
      - .env

    # Restart container automatically unless stopped manually
    restart: unless-stopped

    # Mount source code to container to allow live code editing
    volumes:
      - .:/app
